config 'settings' 'fodder'
	# api settings
	option api_server 			'api.luftdaten.info'
	option api_post 			'/v1/push-sensor-data/ HTTP/1.1'
	option api_host				'api.dusti.xyz'
	option api_sensor_id		'0'
	option api_user_agent		'LEDE'
	option api_accept			'application/json'
	option api_content_type		'application/json'

	# other settings
	option send_time_invtervall	'60' # in seconds